<div id='main' class='jumbotron'>
  <p>
    Pick a date, any date...
  </p>
  <div id='datepicker' class="container">
    <div class="col-sm-6">
      <div class="form-group">
        <div class='input-group date'>
          <form action="index.html" method="get">
            <input type='text' class="form-control" id='datetimepicker' on/>
          </form>
          <span class="input-group-addon" onclick="sendDate()">
            <span class="glyphicon glyphicon-ok">
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class='admin-buttons'>
    <div>
      <a href='/../holidays/index.html.erb'>Admin</a>
    </div>

    <div>
      Sys. Admin
    </div>
  </div>
</div>
