<div id='main' class='jumbotron'>
  <p>
    Pick a date, any date...
  </p>
  <div id='datepicker' class="container">
      <div class="col-sm-4">
          <div class="form-group">
              <div class='input-group date' id='datetimepicker'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar">
                      </span>
                  </span>
              </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#datetimepicker').datetimepicker({
                  viewMode: 'years'
              });
          });
      </script>
  </div>
</div>
