<div id='show'>
  <h1> Holidays that occur on <%= @day %>: </h1>
  <ul>
    <% if @holidays.empty? %>
      <li>
        No holidays on this day
      </li>
    <% else %>
      <% @holidays.each do |h| %>
        <li>
          <div>
            <div>
              <%= h[1][0] %>
            </div>
            <div>
              <%= link_to h[0], '#', id: "h-link" %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
