<div id='show'>
  <h1> Holidays that occur on <%= @day %>: </h1>
  <ul>
    <% if @holidays.empty? %>
      <li>
        No holidays on this day
      </li>
    <% else %>
      <% @holidays.each do |h| %>
        <li>
          <% holiday = "#{h[1][0]}:  #{h[0]}" %>
          <%= link_to holiday, "/#{h[0]}/#{h[1][0]}/#{@year}" %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
