<h1> Holidays that occur on <%= @day %>: </h1>
<div>
  <ul>
    <% if @holidays.empty? %>
      <li>
        No holidays on this day
      </li>
    <% else %>
      <% (0...12).each do |i| %>
        <li>  <%= "#{@countries[i]}: " %>
          <% if @holidays[i].nil? %>
            <%= "None" %>
          <% else %>
            <%= @holidays[i] %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
