/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datetimepicker
 */
#header {
  background-color: #404040;
  color: white;
  margin: -5px;
  margin-bottom: -20px;
  padding: 15px;
  padding-left: 80px;
  font-size: 18px;
}

#logo {
  font-size: 37px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#footer {
  margin: 60px;
  margin-top: 100px;
  padding: 10px;
  border-top: 3px groove;
  font-size: 16px;
}

#footer p {
  padding-right: 25px;
  float: right;
}

#footer a {
  padding-left: 25px;
  float: left;
}

#main {
  font-size: 60px;
  text-align: center;
}

#datepicker {
  padding-left: 390px;
}

.standard-view {
  padding-top: 10px;
  padding-left: 150px;
}

li {
  margin: 0 0 5px 0;
}

section {
  height: 400px;
  padding-top: 10px;
  padding-left: 150px;
}

div#left {
  float: left;
}

div#right {
  margin-left: 50%;
}

.index-view {
  padding: 10px 170px 10px 170px;
}

.custom-holiday {
  margin-top: 40px;
  list-style: none;
}

.custom-holiday li {
  padding: 15px 0;
  border-bottom: 1px groove #cccccc;
  margin-right: 150px;
}

#index-top {
  height: 30px;
  position: relative;
}

#country-filter {
  float: left;
  margin: 8px -48px 0 40px;
}

#new-button {
  margin-right: 150px;
  margin-top: -32px;
  float: left;
}

.edit-delete {
  float: right;
}

.pagination {
  margin-left: 325px;
  margin-top: -1px;
}
